.blog-title{
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.user-login-block {
    border-radius: 15px;
    background: #686868;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 10% auto;
    width: 35%;
    height: 55%;
    padding: 10px;
    text-align: center;
}

.user-login-block a{
    color: #fff;
}

.user-login-block a:hover{
    color: darkgray;
}

form {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.form-title {
    font: 18px Oswald;
    font-weight: 400;
    color: #fff;
    padding: 0 5px 5px;
    text-align: center;
    margin-bottom: 15px;
}

input {
    border-radius: 30px;
    border: 3px solid darkgray;
    width: 60%;
    height: 35px;
    margin: 0 auto 10px;
    text-align: center;
    color: #000;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
    background-color: darkgray;
}

input:focus {
    font-weight: 100;
    outline: none;
    border: 3px solid darkgray;
}

button {
    font: 16px Lato;
    color: white;
    background-color: darkgray;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 30px;
    width: 50%;
}

button:hover {
    background-color: #565656;
}

.form-link {
    text-decoration: none;
    color: #048e76;
    font: 16px Lato;
    font-weight: 900;
    padding: 10px;
}